.card-data {
  display: flex;
  flex-direction: row;
  margin: 50px;
  border: 1px solid yellow;
  box-shadow: 0 0 5px #333;
}

.verticalnav-left {
  width: 10%;
  height: 800px;
  border-right: 1px solid gainsboro;
}
.content-right {
  padding: 20px;
  width: 90%;
  height: 800px;
  overflow-y:hidden;
}
